<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="Database_Connection_Application.Properties.Settings.connectionStr"
      connectionString="Data Source=.;Initial Catalog=EmpDetail;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="examenVoorbereiding.Properties.Settings.ConnectionString"
      connectionString="server=127.0.0.1;user id=root;database=eindoefening_db;persistsecurityinfo=True"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

</configuration>